
1주차_실습파일/1주차실습_notes.txt
1주차_실습파일/2021-05-07-raspios-buster-armhf-full.zip
1주차_실습파일/BonjourPSSetup.exe
1주차_실습파일/win32diskimager-1.0.0-install.exe
1주차_실습파일/Xftp-7.0.0074p.exe
1주차_실습파일/Xshell-7.0.0077p.exe
1주차_실습파일/2021-05-07-raspios-buster-armhf-full/2021-05-07-raspios-buster-armhf-full.img
